<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{HH:mm:ss.sss} %-5level [%thread] %logger{0}: %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <springProfile name="development">
                <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            </springProfile>
            <springProfile name="production">
                <fileNamePattern>./target/log-prod/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            </springProfile>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%d %-5level [%thread] %logger{0}: %msg%n</Pattern>
        </encoder>
    </appender>
    
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="FILE" />
    </appender>
    
    <root>
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ASYNC" />
    </root>
	
	<logger name="tw.com.agm" level="debug" />
	<logger name="com.zaxxer" level="info" />
</configuration>