<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">

	<!-- <property resource="logback.properties"/> -->
	<property name="LOG_DIR" value="${user.home}/agm-rs/log" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Taipei} %-5level [%thread] [%C:%L] - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <springProfile name="development">
                <fileNamePattern>${LOG_DIR}/agm-rs-info-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            </springProfile>
            <springProfile name="production">
                <fileNamePattern>${LOG_DIR}/agm-rs-info-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            </springProfile>
            <maxHistory>2</maxHistory>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Taipei} %-5level [%thread] [%C:%L] - %msg%n</Pattern>
        </encoder>
    </appender>
    
    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <springProfile name="development">
                <fileNamePattern>${LOG_DIR}/agm-rs-error-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            </springProfile>
            <springProfile name="production">
                <fileNamePattern>${LOG_DIR}/agm-rs-error-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            </springProfile>
            <maxHistory>10</maxHistory>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Taipei} %-5level [%thread] [%C:%L] - %msg%n</Pattern>
        </encoder>
    </appender>
    
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="FILE_INFO" />
        <appender-ref ref="FILE_ERROR" />
    </appender>
    
    <root>
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ASYNC" />
    </root>
	
	<logger name="tw.com.agm" level="info" />
	<logger name="tw.com.agm.rs.action.health.dao" level="trace" />
	<logger name="com.zaxxer" level="info" />
</configuration>